<!DOCTYPE html>
<html>
  <head>
    <title>Fanny-Ibanez</title>
    <meta property="og:title" content="Fanny Ibanez" />
    <meta property="og:url" content="http://www.fanny-ibanez.fr/" />
    <meta name="image" property="og:image" content='<%= asset_path('display.png')  %>'>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" /> 
    <meta property="og:description" content="Portfolio Fanny Ibanez" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('clavier.png') %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="background">
    <%= render 'shared/flashes' %>

    <div class="btn-cv">
      <%= link_to "My CV", asset_path("cv.pdf"), target: "_blank", id:"link-cv" %>
    </div>

    <div class="navbar">
      <div id="navbar-top">
        <h1></h1>
      </div>
      <nav class="nav-icon">
        <%= link_to root_path, class: "navbar-icon-box #{"navbar-icon-box-active" if controller.controller_name == "pages" && action_name == "home"}" do  %>
          <i class="fas fa-home "></i>
        <% end %>
        <%= link_to cv_path, class: "navbar-icon-box #{"navbar-icon-box-active" if controller.controller_name == "pages" && action_name == "cv"}" do %>
          <i class="fas fa-user"></i>
        <% end %>
        <%= link_to portfolio_path, class: "navbar-icon-box #{"navbar-icon-box-active" if controller.controller_name == "pages" && action_name == "portfolio"}" do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to new_email_contact_path, class: "navbar-icon-box #{"navbar-icon-box-active" if controller.controller_name == "email_contacts" && action_name == "new"}" do %>
          <i class="fas fa-envelope"></i>
        <% end %>
      </nav>
      <nav class="nav-link">
        <a href="https://www.linkedin.com/in/fanny-ibanez/" target="_blank">
          <i class="fab fa-linkedin" style="margin-bottom: 15px"></i>
        </a>
      </nav>
      <nav class="nav-link" id="github-icon">
        <a href="https://github.com/fannyibz" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </nav>

    </div>

    <%= yield %>
  </body>
</html>
